foodvision_big/09_pretrained_effnetb2_feature_extractor_food101_20_percent.pth

foodvision_mini/09_pretrained_effnetb2_feature_extractor_pizza_steak_sushi_20_percent.pth

foodvision_big.zip

foodvision_mini.zip